---
import BadgesTechnologies from "../badges/BadgesTechnologies.astro";

interface Props {
  title: string;
  description: string;
  image: string;
  technologies: {
    id: number;
    name: string;
    desing: {
      class: string;
    };
  }[]; 
}

const { title, description, image, technologies } = Astro.props;

---

<div class="mb-24 last:mb-0 flex flex-col">
  <section>
    <h1 class="font-bold">{title}</h1>
  </section>
  <section
    class="flex flex-col md:flex-row mt-5 items-center md:items-start md:space-x-6"
  >
    <section>
      <p class="text-gray-300 opacity-90 mb-4">{description}</p>
      <div class="space-x-2">
        {
          technologies.map((technology: any) => (
            <BadgesTechnologies technology={technology}>
              {technology.name}
            </BadgesTechnologies>
          ))
        }
      </div>
    </section>

    <img
      src={image}
      width="350px"
      alt={image}
      class="relative z-0 rounded-lg transition-all duration-300 hover:scale-110 hover:cursor-pointer mt-4 sm:mt-0"
    />
  </section>
</div>
